[Unit]
Description=Plant Water Service
After=multi-user.target network.target mosquitto.service


[Service]
ExecStart=+/usr/local/planter/spinup.sh
Type=notify
Restart=always


[Install]
